langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-aws==0.1.6
langchainhub==0.1.15
bs4==0.0.2
tiktoken==0.6.0
openai==1.23.2
boto3
chromadb==0.4.24
awscli
streamlit
pypdf==4.1.0
faiss-cpu

-e .